#map {
  height: 70vh;
  width: 100%;
}
.map_night_switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 20px;

}

.map_night_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.map_night_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.map_night_slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 14px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.map_night_switch input:checked + .map_night_slider {
  background-color: black;
}

.map_night_switch input:focus + .map_night_slider {
  box-shadow: 0 0 1px black;
}

.map_night_switch input:checked + .map_night_slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.map_night_slider.round {
  border-radius: 34px;
}

.map_night_slider.round:before {
  border-radius: 50%;
}